global:
  scrape_interval: 1s

scrape_configs:
  - job_name: 'federate'
    scrape_interval: 1s
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{job=~".+"}'
    static_configs:
      - targets: [ ":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090",":9090" ]
