version: '3'

services:
  nginx1:
    image: golang:latest
    ports: 
      - "8081:80"
    volumes:
      - /main.go:./go/myapp/.
    tty: true
    depends_on:
      - web1
      - web2
      - web3
    command: go build -o main main.go && ./main
    networks:  
      default:
        ipv4_address: 172.30.0.10

    web1:
    image: httpd
    expose:
      - "80"
    volumes:
      - ./web1:/usr/local/apache2/htdocs/
    networks:  
      default:
        ipv4_address: 172.30.0.11

  web2:
    image: httpd
    expose:
      - "80"
    volumes:
      - ./web2:/usr/local/apache2/htdocs/
    networks:  
      default:
        ipv4_address: 172.30.0.12

  web3:
    image: httpd
    expose:
      - "80"
    volumes:
      - ./web3:/usr/local/apache2/htdocs/
    networks:  
      default:
        ipv4_address: 172.30.0.13

networks:
  default:
    driver: bridge
    ipam:
      config: 
        - subnet: 172.30.0.0/16